* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

:root {
    --negro: #252525;
    --blanco: #ffffff;
    --gris: #98989E;
    --azul: #2153be;
    --parrafos: "Koulen", sans-serif;
    --titulos: "Electrolize", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--negro);
}

/*header*/
header {
    box-sizing: border-box;

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 2vw;

    background-color: var(--negro);
}

.enlace_seccion {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5vw;
    font-family: var(--parrafos);
}

.enlace_seccion:hover {
    color: var(--gris);

}

/*introducción*/
.intro {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--negro);
}

.foto-mia {
    width: 15vw;

    border-radius: 50%;
    margin: 1vw 0;
}

.nombre,
.puesto {
    width: 100%;
    margin: 1vw 0;
    text-align: center;
    color: var(--blanco);
    font-size: 2vw;
    padding: 0;
    font-family: var(--titulos);
}

.puesto {
    font-family: var(--parrafos);
}

/*iconos*/
.redes {
    display: flex;
    float: right;
    justify-content: center;
    gap: 2vw;
    margin: 1vw 0;
}

.bi {
    color: var(--blanco);
    font-size: 1.5vw;
}

/*divisiones*/
.division {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6vw;
    box-sizing: border-box;
    background-color: var(--negro);
    padding: 2vw 5vw;
    
}

.titulo__division {
    width: 100%;
    text-align: center;
    color: var(--blanco);
    font-family: var(--titulos);
    font-size: 3vw;
    margin: 0;
    text-decoration: overline var(--blanco);
}

#proyectos {
    background-color: var(--azul);
}
#procesDis{
    background-color: var(--azul);
    color: var(--blanco);
    gap: 3vw;
}
dl p ,strong{
font-size: 2vw;
font-family: var(--titulos);
}
dd{
    font-size: 1vw;
font-family: var(--parrafos);
}
.carousel,  .carousel img {
    width: 50vw;
    border-radius: 8px;
}

#habilidades {
    background-color: var(--gris);
}

.texto__sobre-mi {
    color: var(--blanco);
    font-size: 2vw;
    text-align: left;
    font-family: var(--parrafos);
    margin: -3vw 0 3vw 0;
}

/*cards*/
.card {
    width: 18vw;
    background-color: var(--blanco);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img__card {
    width: 100%;
    height: 13vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.titulo__card {
    color: var(--negro);
    font-family: var(--titulos);
    font-size: 2vw;
  text-align: center;
  margin-top: 2vw;
}

.descripcion__card {
    color: var(--negro);
    font-family: var(--parrafos);
    padding: 0 2vw;
    font-size: 1vw;
    margin-top: -0.5vw;
}

a button {
    border: none;
    border-radius: 8px;
    width: 5vw;
    margin: 0vw 0 1vw 0;
    color: var(--blanco);
    background-color: var(--negro);
    font-size: 1.2em;
    font-family: var(--parrafos);
    padding: 10px;
}
button:hover{
cursor: pointer;
}

footer {
    color: var(--blanco);
    font-family: var(--parrafos);
    background-color: var(--negro);
    width: 100%;
    padding: 3vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 8vw;
}
.info-footer{
    margin: 0;
}









@media screen and (min-width:300px) and (max-width:1000px) {

    /*header*/
    header {
        gap: 7vw;
        padding: 5vw;
    }

    .enlace_seccion {
        font-size: 5.5vw;
    }

    /*introducción*/

    .foto-mia {
        width: 50vw;
        margin: 5vw 0;
    }

    .nombre,
    .puesto {
        margin: 3vw 0;
        font-size: 7vw;
        padding: 2vw;
    }

    /*iconos*/
    .redes {
        gap: 7vw;
        margin: 2vw 0 6vw 0;
    }

    .bi {

        font-size: 10vw;
    }

    /*divisiones*/
    .division {
        gap: 6vw;
        padding: 8vw 8vw;
    }

    .titulo__division {
        font-size: 10vw;
    }

    #proyectos {
        background-color: var(--azul);
    }

    #habilidades {
        background-color: var(--gris);
    }
#procesDis{
    background-color: var(--azul);
    color: var(--blanco);
    gap: 3vw;
}
strong{
font-size: 7vw;
font-family: var(--titulos);
}
dl p{
font-size: 5vw;
font-family: var(--titulos);
text-align: center;
}
dd{
    font-size: 5vw;
font-family: var(--parrafos);
}
.carousel,  .carousel img {
    width: 90vw;
    border-radius: 8px;
}

    .texto__sobre-mi {
        font-size: 7vw;
        margin: -3vw 0 3vw 0;
    }

    /*cards*/
    .card {
        width: 90vw;
        border-radius: 8px;
    }

    .img__card {
        width: 100%;
        height: 55vw;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .titulo__card {
        font-size: 7vw;
    }

    .descripcion__card {
        padding: 0 5vw;
        font-size: 5vw;
        margin-top: -3vw;
    }
    a button {
        border: none;
        border-radius: 8px;
        width: 20vw;
        margin: 0vw 0 5vw 0;
        color: var(--blanco);
        background-color: var(--negro);
        font-size: 1.2em;
        font-family: var(--parrafos);
        padding: 10px;
    }

    footer {
    padding: 5vw;
    gap: 2vw;
    text-align: center;
    }
   
}
